@import '../vars'
@import common

$border-width = 1px
$inter-column-margin = 0.25em

table
  font-family: monospace
  display: inline-block
  vertical-align: top
  border: $border-width solid rgba($txt, 0.5)
  border-width: 0 0 0 $border-width
  padding-left: $inter-column-margin

  &:first-of-type
    margin-left: 0

  &:last-of-type
    padding-right: $inter-column-margin
    border-right-width: $border-width

thead
  display: none
