<div id="drop_zone">
	<div id="drop_contents">
		<span id="drop_text">drop here!</span>
		<div id="preview_vis"></div>
		<img id="drop_preview">
		<div id="preview_name"></div>
	</div>
</div>

<div id="contentContainer">
	<img id="glitched" src="">
	<div id="buttonContainer" class="top20">
		<div class="buttonRow">
			<div class="button" onclick="glitchImage(6);">swap</div>
			<div class="button" onclick="glitchImage(3);">duplicate</div>
		</div>
		<div class="buttonRow">
			<div class="button" onclick="undo();">undo</div>
			<div class="button" onclick="redoToRound(0);">reset</div>
			<div class="button" onclick="redo();">redo</div>
		</div>
	</div>
	<div id="sliderContainer" class="top20">
		<form name="sliders">
			<span class="leftPad">amount:</span><input type="range" min="0" max="500" value="100" id="gmax" onchange="document.getElementById('gmaxvalue').innerHTML = this.value;"> <span id="gmaxvalue">100</span>
			<br>
			<span class="leftPad">protection:</span><input type="range" min="0" max="100" value="0" id="protection" onchange="document.getElementById('protectionvalue').innerHTML = this.value;"> <span id="protectionvalue">0</span>
			<br>
			<span class="leftPad">timescale:</span><input type="range" min="0" max="0" value="0" id="timescale" oninput="redoToRound(this.value);" onchange="redoToRound(this.value);"> <span id="timescalevalue">0</span>
		</form>
	</div>
	<form action="/" method="post" enctype="multipart/form-data" id="fileForm" class="top20">
		<input type="file" name="file" id="file" onchange="previewInput()">
		<a href="" id="fileGUI">upload</a><div id="dndText">or drag & drop!</div>
		<input type="submit" name="submit" value="upload" id="fileSubmit">
		<div id="url"><input type="text" name="url" id="urlText" value="url">
			<input type="submit" name="submit" value="upload" id="urlSubmit"></div>
		<div id="anger"></div>
	</form>

	<div class="buttonRow">
		<div class="button" id="randomImageLink"><a href="" id="randomLink">random image</a></div>
	</div>
	<div class="top20"><a href="about">help / about</a></div>
	<form name="imageData" id="imageData">
		<input type="hidden" name="r0" value="">
	</form>
</div>
