{{define "sources" -}}
src="/img/wishlist/{{.}}-1x.jpg" srcset="/img/wishlist/{{.}}-1x.jpg 1x,/img/wishlist/{{.}}-2x.jpg 2x,/img/wishlist/{{.}}-3x.jpg 3x"
{{- end}}

{{define "photo"}}<div class="photo">
	<div class="triangle"></div>
	<img {{template "sources" .}}>
</div>{{end}}

{{partial "becca-header.html" .}}
{{.Content}}
<div><div>item</div><div>usd</div></div>
{{range .Site.Data.wishlist.items}}
	<!--
	structure:
	.items > div = item
		first child div = link
		2nd child div is price
		3rd child div (if applicable) is .photo
		.photo = div.triangle & img
	-->
	<!-- link if applicable; mark url as trusted -->
	<div>
		<div>{{with .url}}<a href="{{. | safeURL}}">{{end}}
		{{with .name}}{{.}}{{end}}{{with .url}}</a>{{end}}
		<!-- put features in parens, and a linebreak before them if the
		features + the title is > 40 chars -->
		{{if .features}}
			{{if gt (add (len .name) (len .features)) 40}}<br>{{end}}
			({{.features}})
		{{end}}
		</div>
		<div>{{.price}}</div>
		{{with .photo}}{{template "photo" .}}{{end}}
	</div>
{{end}}
{{partial "becca-footer.html" .}}
