<h1 id=nav-header>{#-#}
    <a href="{{ config.url }}" {# -#}
       aria-label="{{ theme.home_link_label }}">
        {{- config.title -}}
    </a>{#-#}
</h1>
<span aria-hidden=true id="home-nav-sep">{{ theme.home_nav_sep }}</span>
<nav>
    {% set nav_join = joiner(theme.nav_sep) %}
    {% for link in site.data.nav -%}
        {% if nav_join() %}
            <span class=nav-sep aria-hidden=true>{{ theme.nav_sep }}</span>
        {% endif %}
        <a href="{{ link.url|default("/" + link) }}" {# -#}
            {%- if link.label -%}
                aria-label="{{ link.label }}"
            {%- endif -%}
        >
        {{- link.txt
            |default(link.url.replace(r/^\/+/, ""))
            |default(link.label)
            |default(link) -}}
        </a>
    {%- endfor %}
</nav>
