main
  max-width: 100%

.leftColumn
  float: left
  width: 400px

.rightColumn
  float: right

canvas
  display: block

.inner
  display: inline-block

.sliderRow
  margin-bottom: 5px
  display: flex
  justify-content: space-between

  >
    div
      flex-grow: 2

    input
      &[type=number]
        flex-grow: 1
        max-width: 50px
        margin-right: 5px

      &[type=range]
        flex-grow: 3

div.button
  user-select: none

.label
  position: relative
  top: 6px

input
  display: inline-block
  border: 0
