@import vars

body
  standard()

::selection
  background-color: rgba($hi, 0.25)

h1, h2, h3
  z-index: 1
  font
    size: $font-size * 1.5
    weight: 300
  margin: 1em 0 0.5em 0
  position: relative

  &:hover > .headerlink
    display: block

.headerlink
  z-index: -1
  display: none
  text-decoration: none
  color: $medium
  position: absolute
  left: -2 * $rel-link-margin
  padding: 0.5em $rel-link-margin
  top: -0.5em

  &:before
    content: '#'

  &:hover
    text-decoration: underline


h1
  font-size: $font-size * 2
  font-weight: 500

h1:first-child
    margin-top: 0.5em

h2
  font-size: $font-size * 1.5
  font-weight: 400

h3
  font-weight: initial

a
  color: $hi

#container
  margin: $margin
  position: relative

main
  constrained()
  text-align: left
  & > img, & > p > img
    max-width: 100%

header
  constrained()

header ul
  padding: 0

header li
  display: inline-block
  margin-right: 1em

table
  margin-bottom: 1em

td
  vertical-align: top

  &:not(:last-child)
    padding-right: 0.5em

pre
  overflow-x: scroll
  padding: 0.5em

code
  padding: 1pt

pre > code
  background: none

// code is wrapped in <figure> tags...
figure
  margin: 0
  max-width: 100%
  overflow-x: scroll

  & table
    margin-bottom: 0

  & pre
    overflow-x: initial
    padding: 0
    margin: 0

  &.highlight .gutter
    color: $medium

img.aside
  float: right
  max-width: ($body-width / 3)

@media (max-width: ($body-width + 2 * $margin))
  blockquote
    margin-left: 1em
    left: 0

@media (max-width: ($body-width * (2/3) + 2 * $margin))
  img.aside
    float: none
    display: block
    margin: 0.5em auto

@media (max-width: 380px)
  #container
    margin: ($margin / 2)

  h1
    font-size: $font-size * 1.5

  h2
    font
      size: $font-size
      weight: initial
