@import vars

#url_in
  height: 3em

#url_out
  .row
    display: flex
    margin-bottom: 0.2em

  #section-path li
    &:before
      content: '/'

    &:last-child:before
      content: ''

  input
    width: 100%

  a.del
    margin-left: 0.3em
