{% extends "_partial/base.njk" %}
{% block post_content %}
{% for section in site.data.books %}
  {# TODO: Make this not a janky hack #}
  {% set slug = section.section | replace(" ", "-") %}
  <h1 id="{{ slug }}">{#-#}
    <a class=headerlink title="{{ section.section }}" href="#{{ slug }}"></a>
    {{- section.section -}}
  </h1>
  <ol>
  {% for book in section.books %}
    <li>
    {%- if book.url or book.isbn %}<a href="{{ book.url|default(config.books.url_prefix + book.isbn) }}">{% endif -%}
    {% if book.title %}<i>{{ book.title }}</i>{% endif -%}
    {% if book.url or book.isbn %}</a>{% endif -%}
    {% if book.author.length > 40 %}<br>{% endif %}
    ({{ book.author -}}
    {% if book.year %}, {{ book.year }}{% endif -%}
    {% if book.edition %}, {{ book.edition }} ed.{% endif %})
    </li>
  {% endfor %}
  </ol>
{% endfor %}
{% endblock %}
