{% extends "_partial/base.njk" %}
{% block post_content %}
<table>
{% for item in site.data.contact %}
	<tr>
		<td>{{ item.label }}</td>
		<td>{% if item.link -%}
			<a href="{{ item.link }}">
		{%- endif -%}
		{%- if item.uncommon %}<del>{% endif -%}
			{{ item.val }}
		{%- if item.uncommon %}</del>{% endif -%}
		{% if item.link %}</a>{% endif %}
		</td>
	</tr>
{% endfor %}
</table>
{% endblock %}
