{% extends "_partial/base.njk" %}
{% block pre_content %}
<canvas id="main-canvas"></canvas>
<div id="controls">
	<p><sup>dy</sup>⁄<sub>dx</sub> = <input type="text" id="formula-input" value="y + sin(x)"></input>

	<div id="formula-note">
		<p><b>Note:</b> Because of the architecture of this
		program, in <sup>dy</sup>⁄<sub>dx</sub>, carets
		(<code>^</code>) represent the logical <a
		href="https://en.m.wikipedia.org/wiki/Exclusive_or">xor</a>
		operation and <i>not</i> exponentiation.  <p>For
		exponents, use <code>pow(base, exponent)</code> —
		“x²”, for example, would be written as <code>pow(x,
		2)</code> <p><button id="got-it">Got it.</button>
	</div>

	<br>Slope field density:
	<input type="number" id="grid-spacing-value" value="20">
	<br><input type="range" id="grid-spacing-range" min="1" max="100" value="20" step="0.01"></input>

	<div class="hidden"><p>Graph:
	<br>Width:
	<input type="number" id="width-value" value="10">
	<br><input type="range" id="width-range" min="0.01" max="50" value="10" step="0.01"></input>

	<p>Height:
	<input type="number" id="height-value" value="10">
	<br><input type="range" id="height-range" min="0.01" max="50" value="10" step="0.01"></input>

	<p>Center:
	<br>x:
	<input type="number" id="center-x-value" value="0">
	<br><input type="range" id="center-x-range" min="-10" max="10" value="0" step="0.01"></input>

	<br>y:
	<input type="number" id="center-y-value" value="0">
	<br><input type="range" id="center-y-range" min="-10" max="10" value="0" step="0.01"></input></div>

	<p> differential uses <a href="https://en.m.wikipedia.org/wiki/Euler_method">
	the Euler method</a> of differential equation approximation,
	and as such may yield strange or erroneous solutions for
	equations with asymptotes, discontinuities, or no real
	solution for y(x) = …, such as
	<a href="#%2Dx%2Fy" onclick="setEqFromURL()">
	<sup>dy</sup>⁄<sub>dx</sub> = -<sup>x</sup>⁄<sub>y<sub></a>

	<p> note that differential is ultimately a toy! do not blame
	me if you use it for your homework and it messes up

	<p> check out:
	<ul id=formula-examples>
		<li><a href="#tanx%20cosy" onclick="setEqFromURL()">
		<sup>dy</sup>⁄<sub>dx</sub> = tanx cosy</li>
		<li><a href="#x%20*%20y" onclick="setEqFromURL()">
		<sup>dy</sup>⁄<sub>dx</sub> = x · y</li>
		<li><a href="#sqrt(pow(x%2C%202)%20%2B%20pow(y%2C%202))%20-%204" onclick="setEqFromURL()">
		<sup>dy</sup>⁄<sub>dx</sub> = sqrt(x<sup>2</sup> + y<sup>2</sup>)</li>
	</ul>
</div>
{% endblock %}
