{% extends "_partial/base.njk" %}
{% block post_content %}
<div class="leftColumn">
	<div class="sliderRow">
		<div class="label">cells:</div>
		<input type="number" value="50" step="1" id="worldSize"/>
		<input type="range" step="1" min="5" value="50" max="150" id="worldSizeRange"/>
	</div>
	<div class="sliderRow">
		<div class="label">grass grow speed:</div>
		<input type="number" value="0.1" step="0.05" min="0" id="grow"/>
		<input type="range" step="0.02" min="0.01" value="0.1" max="1" id="growRange"/>
	</div>
	<div class="sliderRow">
		<div class="label">starting species:</div>
		<input type="number" value="3" step="1" min="1" id="animalsNumber"/>
		<input type="range" step="1" min="1" value="3" max="200" id="animalsNumberRange"/>
	</div>

	<div class="sliderRow">
		<div class="label">hp (min):</div>
		<input type="number" value="0" step="1" min="0" id="hpMinNumber"/>
		<input type="range" step="1" min="0" max="150" value="0" id="hpMinNumberRange"/>
	</div>
	<div class="sliderRow">
		<div class="label">hp (max):</div>
		<input type="number" value="100" step="1" min="0" id="hpMaxNumber"/>
		<input type="range" step="1" min="0" max="150" value="100" id="hpMaxNumberRange"/>
	</div>
	<div class="sliderRow">
		<div class="label">max hp (min):</div>
		<input type="number" value="50" step="1" min="0" id="maxHPMinNumber"/>
		<input type="range" step="1" min="0" max="250" value="50" id="maxHPMinNumberRange"/>
	</div>
	<div class="sliderRow">
		<div class="label">max hp (max):</div>
		<input type="number" value="200" step="1" min="0" id="maxHPMaxNumber"/>
		<input type="range" step="1" min="0" max="250" value="200" id="maxHPMaxNumberRange"/>
	</div>
	<div class="sliderRow">
		<div class="label">lifespan (min):</div>
		<input type="number" value="0" step="1" min="0" id="lifespanMinNumber"/>
		<input type="range" step="1" min="0" max="300" value="0" id="lifespanMinNumberRange"/>
	</div>
	<div class="sliderRow">
		<div class="label">lifespan (max):</div>
		<input type="number" value="200" step="1" min="0" id="lifespanMaxNumber"/>
		<input type="range" step="1" min="0" max="300" value="200" id="lifespanMaxNumberRange"/>
	</div>
	<div class="sliderRow">
		<div class="label">speed (min):</div>
		<input type="number" value="1" step="1" min="0" id="speedMinNumber"/>
		<input type="range" step="1" min="1" max="20" value="1" id="speedMinNumberRange"/>
	</div>
	<div class="sliderRow">
		<div class="label">speed (max):</div>
		<input type="number" value="3" step="1" min="0" id="speedMaxNumber"/>
		<input type="range" step="1" min="0" max="20" value="3" id="speedMaxNumberRange"/>
	</div>
	<div class="sliderRow">
		<div class="label">reproduction rate (min):</div>
		<input type="number" value="1" step="1" min="0" id="reproductionRateMinNumber"/>
		<input type="range" step="1" min="0" max="150" value="1" id="reproductionRateMinNumberRange"/>
	</div>
	<div class="sliderRow">
		<div class="label">reproduction rate (max):</div>
		<input type="number" value="100" step="1" min="0" id="reproductionRateMaxNumber"/>
		<input type="range" step="1" min="0" max="150" value="100" id="reproductionRateMaxNumberRange"/>
	</div>
	<div class="sliderRow">
		<div class="label">defense (min):</div>
		<input type="number" value="0" step="1" min="0" id="defenseMinNumber"/>
		<input type="range" step="1" min="0" max="50" value="0" id="defenseMinNumberRange"/>
	</div>
	<div class="sliderRow">
		<div class="label">defense (max):</div>
		<input type="number" value="20" step="1" min="0" id="defenseMaxNumber"/>
		<input type="range" step="1" min="0" max="50" value="20" id="defenseMaxNumberRange"/>
	</div>
	<div class="sliderRow">
		<div class="label">digestion rate (min):</div>
		<input type="number" value="0" step="0.1" min="0" id="digestionRateMinNumber"/>
		<input type="range" step="0.01" min="0" max="10" value="0" id="digestionRateMinNumberRange"/>
	</div>
	<div class="sliderRow">
		<div class="label">digestion rate (max):</div>
		<input type="number" value="2" step="0.1" min="0" id="digestionRateMaxNumber"/>
		<input type="range" step="0.01" min="0" max="10" value="2" id="digestionRateMaxNumberRange"/>
	</div>
	<div class="sliderRow">
		<div class="label">camoflage (min):</div>
		<input type="number" value="0" step="1" min="0" id="camoflageMinNumber"/>
		<input type="range" step="1" min="0" max="20" value="0" id="camoflageMinNumberRange"/>
	</div>
	<div class="sliderRow">
		<div class="label">camoflage (max):</div>
		<input type="number" value="10" step="1" min="0" id="camoflageMaxNumber"/>
		<input type="range" step="1" min="0" max="20" value="10" id="camoflageMaxNumberRange"/>
	</div>
	<div class="sliderRow">
		<div class="label">hunger (min):</div>
		<input type="number" value="20" step="1" min="0" id="eatAmountMinNumber"/>
		<input type="range" step="1" min="1" max="200" value="20" id="eatAmountMinNumberRange"/>
	</div>
	<div class="sliderRow">
		<div class="label">hunger (max):</div>
		<input type="number" value="100" step="1" min="0" id="eatAmountMaxNumber"/>
		<input type="range" step="1" min="1" max="200" value="100" id="eatAmountMaxNumberRange"/>
	</div>
	<div class="sliderRow">
		<div class="label">attack (min):</div>
		<input type="number" value="0" step="1" min="0" id="attackMinNumber"/>
		<input type="range" step="1" min="0" max="300" value="0" id="attackMinNumberRange"/>
	</div>
	<div class="sliderRow">
		<div class="label">attack (max):</div>
		<input type="number" value="100" step="1" min="0" id="attackMaxNumber"/>
		<input type="range" step="1" min="0" max="300" value="100" id="attackMaxNumberRange"/>
	</div>

	<div class="sliderRow">
		<button id="reset">
			reset
		</button>
		<button id="startStop">
			stop
		</button>
		<button id="fps">
			fps
		</button>
	</div>
	<div class="row">
	</div>
</div>
<div class="rightColumn">
	<canvas height="600px" width="600px" id="output"></canvas>
	<canvas height="200px" width="600px" id="populationGraph"></canvas>
	<div class="row">
		<canvas height="600px" width="300px" id="statsGraph"></canvas>
		<div>time: <span id="stepsCountOutput">0</span></div>
		<b>extinct:</b>
		<div id="extinctionsList"></div>
	</div>
</div>
{% endblock %}
