{% extends "_partial/base.njk" %}
{% block post_content %}
<video src="{{ page.video }}" preload poster="/img/reel/thumbnail.png" id=reel-vid></video>
<p>music: <a href="https://www.youtube.com/watch?v=zhnlk31SrAU">one for johnny — doc heller</a>
<p>art posted on <a href="https://9999years.tumblr.com/">9999years.tumblr.com</a> (including some unreleased work)
<p><a href="{{ page.other_link.url }}">{{ page.other_link.txt }}</a>
{% endblock %}
