{% extends "_partial/base.njk" %}
{% block pre_content %}
<details><summary>about</summary>
{% endblock %}
{% block post_content %}
</details>
<div id=snell_container>
<div class="sliderRow top" id="nsubiContainer">
	<div class="label">
		n<sub>i</sub>:
	</div>
	<select id="selectnsubi" value="1">
		<option value="1" selected="selected">Vacuum</option>
		<option value="1.0003">Air</option>
		<option value="1.333">Water</option>
		<option value="1.361">Ethanol</option>
		<option value="2.419">Diamond</option>
		<option value="1.55">Amber</option>
		<option value="1.31">Ice</option>
		<option value="1.36">Acetone</option>
		<option value="1.4729">Glycerol</option>
		<option value="1.661">Bromine</option>
		<option value="1.39">Kerosene</option>
		<option value="1.491">Acrylic glass</option>
		<option value="1.52">Crown glass</option>
		<option value="1.61">Flint glass</option>
		<option value="1.47">Pyrex</option>
		<option value="1.516">Rock salt</option>
		<option value="1.764">Sapphire</option>
		<option value="2.17">Cubic zirconia</option>
		<option value="2.28">Potassium niobate</option>
		<option value="2.67">Silicon carbide</option>
		<option value="3.02">Cinnabar (Mercury sulfide)</option>
		<option value="3.5">Gallium(III) phosphide</option>
		<option value="3.927">Gallium(III) arsenide</option>
		<option value="2.4">Zinc Oxide</option>
		<option value="4.03">Germanium</option>
		<option value="3.45">Silicon</option>
		<option value="1.223">Unknown I</option>
		<option value="1.67">Unknown II</option>
		<option value="3.441">Unknown III</option>
		<option value="2.414">Unknown IV</option>
		<option value="1.798">Unknown V</option>
		<option value="???" hidden="true">???</option>
	</select>
	<input id="nsubi" min="1" step="0.05" type="number" value="1">
	<input id="nsubiRange" max="4" min="1" step="0.0001" type="range" value="1">
	<div class="inner angle">
		&#1012;<sub>i</sub>:
		<div class="inner" id="incidentAngleLabel"></div>
	</div>
</div>
<div class="sliderRow bottom" id="nsubrContainer">
	<div class="label">
		n<sub>r</sub>:
	</div>
	<select id="selectnsubr" value="1.61">
		<option value="1">Vacuum</option>
		<option value="1.0003">Air</option>
		<option value="1.333">Water</option>
		<option value="1.361">Ethanol</option>
		<option value="2.419">Diamond</option>
		<option value="1.55">Amber</option>
		<option value="1.31">Ice</option>
		<option value="1.36">Acetone</option>
		<option value="1.4729">Glycerol</option>
		<option value="1.661">Bromine</option>
		<option value="1.39">Kerosene</option>
		<option value="1.491">Acrylic glass</option>
		<option value="1.52">Crown glass</option>
		<option value="1.61" selected="selected">Flint glass</option>
		<option value="1.47">Pyrex</option>
		<option value="1.516">Rock salt</option>
		<option value="1.764">Sapphire</option>
		<option value="2.17">Cubic zirconia</option>
		<option value="2.28">Potassium niobate</option>
		<option value="2.67">Silicon carbide</option>
		<option value="3.02">Cinnabar (Mercury sulfide)</option>
		<option value="3.5">Gallium(III) phosphide</option>
		<option value="3.927">Gallium(III) arsenide</option>
		<option value="2.4">Zinc Oxide</option>
		<option value="4.03">Germanium</option>
		<option value="3.45">Silicon</option>
		<option value="1.223">Unknown I</option>
		<option value="1.67">Unknown II</option>
		<option value="3.441">Unknown III</option>
		<option value="2.414">Unknown IV</option>
		<option value="1.798">Unknown V</option>
		<option value="???" hidden="true">???</option>
	</select>
	<input id="nsubr" min="1" step="0.05" type="number" value="1.61">
	<input id="nsubrRange" max="4" min="1" step="0.0001" type="range" value="1.61">
	<div class="inner angle">
		&#1012;<sub>r</sub>:
		<div class="inner" id="refractedAngleLabel"></div>
	</div>
</div>
<canvas id=main_canvas></canvas>
</div>
{% endblock %}
