{% extends "_partial/base.njk" %}
{% block post_content %}
<table>
    <tr>
        <th>item</th>
        <th>usd</th>
    </tr>
    {% for item in site.data.wishlist %}
        {% include "_partial/wishlist.njk" %}
    {% endfor %}
</table>
{% endblock %}
