#body-copy {
	max-width: 600px;
}

table td {
	white-space: nowrap;
	vertical-align: top;
	padding-bottom: 0.25em;
}

table td:first-child {
	padding-right: 0.5em;
}

table td:last-child {
	white-space: normal;
}
