.contacts > a > div, .contacts > div {
	display: flex;
}

.contacts > a > div:hover {
	background-color: #aff;
}

.contacts > a > div > div, .contacts > div > div {
	width: 100%;
	text-align: left;
	margin: 0.25em
}

.contacts > a > div > div:first-child,
.contacts > div > div:first-child {
	text-align: right;
}
