@import vars

body, html
  font-family: "Segoe UI", -apple-system, "Geneva", "Helvetica", "Segoe UI Emoji", "Apple Color Emoji", "Noto Color Emoji", "Noto Sans", "Noto Serif", "Code2001", "Code2000", "HanaMinA", "HanaMinB", "BabelStone Han", "DejaVu Sans", "DejaVu Serif", "DejaVu Sans Mono", "UniDings", "Helvetica Neue", "Helvetica", "Arial", sans-serif, monospace
  text-align: center
  background-color: $bg
  color: $txt
  font-size: $font-size
  margin: 0
  padding: 0
  border: 0

h1, h2, h3, h4, h5, h6
  margin: 1em 0 0.5em 0
  text-align: center
  font-weight: lighter

  &:first-child
    margin-top: 0.5em

h1
  font-size: $font-size * 2

h2
  font-size: $font-size * 1.5

p
  margin: 1em 0

a
  color: $hi
  text-decoration: underline
  text-underline-position: under

  &:hover
    color: $bg
    background-color: $txt

.center
  text-align: center
  margin-left: auto
  margin-right: auto

.full-rule
  border-top: 1px solid $txt
  margin: 0.5em auto
  width: 100%
  height: 0

.rule
  border-top: 1px solid $txt
  margin: 0.5em auto
  width: 50px
  height: 0

.justify
  text-align: justify

#container
  margin: $margin

#body-copy
  margin: auto
  max-width: $body-width
  text-align: left

#head
  font:
    size: $font-size * 3
    weight: lighter
  margin: $margin 0

  a
    color: #aff
    background-image: none
    text-decoration: none

    &:hover
      color: $bg

p
  margin: 0 0 1em 0

blockquote
  margin: 0
  position: relative
  font-style: italic

  &:after
    content: ""
    border-left: 1px solid $txt
    height: 100%
    position: absolute
    top: 0
    left: -1em

ol
  text-align: left

  > li
    padding-left: 0.25em

@media (max-width: $body-width + 2 * $margin)
  blockquote
    margin-left: 1em
