#fileForm
  position: relative

.button
  a
    color: inherit
    background-color: inherit
    display: inherit
    margin: 0
    padding: 0

    &:hover, &:active
      color: inherit
      background-color: inherit
      display: inherit
      margin: 0
      padding: 0

  user-select: none
  height: 25px
  padding: 5px
  padding-left: 10px
  padding-right: 10px
  background-color: #00f
  color: #fff
  display: inline
  cursor: hand
  cursor: pointer
  margin-right: 5px

  &:hover
    background-color: #009

.tabButton:hover
  background-color: #009

.button:active, .tabButton:active
  background-color: #f0f

input[type="range"]
  width: 500px
  max-width: 100%
  position: relative
  top: 6px

.leftPad
  display: inline-block
  width: 100px

#fileForm
  max-width: 700px

.top20
  margin-top: 20px

#file
  display: none

input
  font-family: 'apercu'
  margin: 0

#glitched
  display: block
  background-color: #fff

#urlText
  width: 100%
  max-width: 500px
  padding: 5px
  padding-left: 10px
  background-color: #cec9ff
  color: #00f
  font-size: 18px
  border: none

#fileGUI
  background-color: #00f
  color: #fff
  font-size: 18px
  border: none
  padding: 5px
  padding-left: 10px
  padding-right: 10px
  text-decoration: none
  max-width: 495px
  display: inline-block
  overflow: hidden

input[type="submit"]
  display: none
  float: right
  background-color: #00f
  color: #fff
  font-size: 18px
  border: none
  padding: 5px

#anger
  color: #f00
  position: absolute
  left: 700px
  top: 42px
  width: 200px

.buttonRow
  display: flex

  &:not(:first-child)
    margin-top: 5px

#drop_zone
  position: absolute
  display: none
  background-color: #cec9ff
  color: #00f
  font-size: 48px
  padding-top: 65px
  z-index: 999

  &.drag
    display: flex

#contentContainer.drag, #about.drag
  display: none !important

#drop_contents
  width: 500px
  text-align: center
  position: fixed

#drop_text
  font-size: 18px

#preview_vis
  position: absolute
  width: 0
  opacity: 0.5
  background-color: #fff

#dndText
  display: inline-block
  position: relative
  top: -10px
  margin-left: 10px

#about
  display: none
  max-width: 700px
