{{partial "header.html" .}}
{{if not (.Param "no-default-includes")}}
<link rel="stylesheet" type="text/css" href="/css/main.css"></style>
{{end}}
{{range .Param "css"}}
<link rel="stylesheet" type="text/css" href="{{printf "/css/%v.css" . | relURL}}"></style>
{{end}}
{{with .Param "onload"}}<body onload="{{. | safeJS}}">{{end}}
<div id="container">
	<header>
	{{template "title" .}}
	{{template "nav" .}}
	</header>
	{{if not (.Param "hide-body-copy-tag")}}
		<main{{with .Param "body-copy-id"}} id="{{.}}"{{end -}}
		{{- with .Param "body-copy-classes"}} class="{{.}}"{{end -}}
		{{- if (or (.Param "body-copy-style") (.Param "center"))}} style="
		{{- if .Param "center" -}}
			text-align: center;{{end -}}
		{{- .Param "body-copy-style"}}"{{end}}>
	{{end}}
	{{with .Title}}<h1 id="{{urlize .}}">{{.}}</h1>{{end}}
