{{partial "header.html" .}}
{{if not (.Param "no_default_includes")}}
<link rel="stylesheet" type="text/css" href="/css/main.css"></style>
{{end}}
{{range .Param "css"}}
<link rel="stylesheet" type="text/css" href="{{printf "/css/%v.css" . | relURL}}"></style>
{{end}}
{{with .Param "onload"}}<body onload="{{. | safeJS}}">{{end}}
<div id="container">
	{{if not (.Param "hide_title")}}
		<div id="head"><a href="/">rebecca turner</a></div>
		<div class="rule"></div>
	{{end}}
	{{if not (.Param "hide_nav")}}
		<p><a href="/about">about</a> /
		<a href="/projects">projects</a> /
		<a href="/art">art</a> /
		<a href="/contact">contact</a>
		<div class="rule"></div>
	{{end}}
	{{if not (.Param "hide_body_copy_tag")}}<div{{with .Param "body_copy_id" | default "body-copy"}} id="{{.}}"{{end}}{{with .Param "body_copy_classes"}} class="{{.}}"{{end}}>{{end}}
		{{with .Title}}<h1>{{.}}</h1>{{end}}
