{{partial "header.html" .}}
{{if not (.Param "no_default_includes")}}
<link rel="stylesheet" type="text/css" href="/css/main.css"></style>
{{end}}
{{range .Param "css"}}
<link rel="stylesheet" type="text/css" href="/css/{{.}}.css"></style>
{{end}}
{{block "includes" .}}{{end}}
{{with .Param "onload"}}<body onload="{{. | safeJS}}">{{end}}
<div id="container">
	{{block "title" .}}
	<div id="head"><a href="/">rebecca turner</a></div>
		{{block "nav" .}}
		<div class="rule"></div>
		<p><a href="/about">about</a> /
		<a href="/projects">projects</a> /
		<a href="/art">art</a> /
		<a href="/contact">contact</a>
		<div class="rule"></div>
		{{end}}
	{{end}}
	<div {{block "body-copy-style" .}}id="body-copy"{{end}}>
		{{with .Title}}<h2 {{block "title style" .}}class="center"{{end}}>{{.}}</h2>{{end}}
